<div class="col-md-6 user-container mx-auto">
  <h4 class="text-center">Add Item</h4>
  <!-- <form class="" action="/action_page.php">
    <div class="form-row">
      <label for="email" class="col-4">Email address:</label>
      <input type="email" class="form-control col-8" placeholder="Enter email" id="email">
    </div>
    -->


  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <label for="itemname" class="col-4">Item Name:</label>
      <input type="text" formControlName="itemname" name="itemname" class="form-control col-8" id="itemname">
      <small
        *ngIf="(submitted || addForm.controls['itemname'].touched) && (addForm.controls['itemname'].errors?.required || addForm.controls['itemname'].value.trim() == '')"
        class="text-danger">
        Please enter Item name
      </small>
    </div>

    <div class="form-row">
      <label for="description" class="col-4">Description:</label>
      <input type="text" formControlName="description" name="description" class="form-control col-8" id="description">
    </div>


    <div class="form-row">
      <label for="price" class="col-4">Item Price:</label>
      <input type="number" formControlName="price" name="price" class="form-control col-8" id="price">
      <small
        *ngIf="(submitted || addForm.controls['price'].touched) && (addForm.controls['price'].errors?.required || addForm.controls['price'].value == '')"
        class="text-danger">
        Please enter Item price
      </small>
    </div>

    <div class="form-row" style="margin-bottom:15px;">
      <label for="image" class="col-4">Item Image:</label>
      <div class="col-md-3">
        <input type="file"  formControlName="fileid" #file placeholder="Choose file" (change)="uploadFile($event)">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

<div class="col-md-6 user-container mx-auto">
  <h5 class="text-center">Item Details</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden" style="display: none;">Id</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="hidden" style="display: none;">{{item.id}}</td>
        <td><a (click)="navigateToDetails( item.id)"> {{item.itemName}}</a> </td>
        <td>{{item.description=="" ? '--' : item.description}}</td>
        <td>{{item.price}}</td>
        <td ><img src="https://localhost:44379/api/Product/GetImage?FilePath={{item.filePath}}" id="img_item"
            alt="picture" style="width:60px; height:50px;"></td>

        <td><button class="btn btn-danger" (click)="deleteItem(item.id)"> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>